<launch>
	<arg name="controller" default="logitech" />
    <arg name="robot_name" default="pioneer" />
	<!-- run the teleop node to send movement velocities to the pioneer -->
	
	<rosparam param="/p2os_teleop" command="load" file="$(find p2os_launch)/params/joystick_$(arg controller).yaml" />
	<node pkg="p2os_teleop" type="p2os_teleop" name="p2os_teleop" output="screen" >
		<remap from="/des_vel" to="/base_controller/command" />
        <remap from="/p2os_teleop/joy" to="/joy" />
        <remap from="/p2os_teleop/cmd_vel" to="/$(arg robot_name)/cmd_vel" />
	</node>
	
	<!-- run a joy node to control the pioneer -->
	<node pkg="joy" type="joy_node" name="pioneer_joy_controller"/>

    <!-- run the p2os Dashbord to monitor robot state -->
    <node pkg="p2os_dashboard" type="p2os_dashboard" name="dashboard" ns="$(arg robot_name)"/>
</launch>
